/* headers */
h1{
   font-size: 45px;
   padding-top:15px;
   font-weight: bold;
   color: white;
   margin: 15px;
}

h2{
   font-size: 25px; 
   padding-top:15px;
   padding-bottom:15px;
   color: white;
}

h3{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom:15px;
    color: white;
}


p{
    font-size: 20px;
   padding-top:15px;
   color: white;
   
}

/* class for the data */
.stat{
   font-size:20px;
   word-spacing: 20px;
   color: white;
}

body{
background-color: black;
}


#word{
   padding: 15px;
}

.container{
  margin: 15px;
}

